include mixin.pug
doctype html
html(lang='en')
    head
        title CSS Grid Gallery
        link(href='/build/style.css', rel='stylesheet')
    body
        h1 CSS Grid Gallery
        .container 
            .small.gallery-container 
                +image("https://images.unsplash.com/photo-1561266322-ccd177d44cff", "Cloudy")
            .large.gallery-container
                +image("https://images.unsplash.com/photo-1561262280-8d0df7772ac4", "Sky")  
            .small.gallery-container
                +image("https://images.unsplash.com/photo-1559867632-9a4ed11e09b7", "Library")
            .tiny.gallery-container
                +image("https://images.unsplash.com/photo-1557441327-782eea23facd", "Laptop")   
            .long.gallery-container
                +image("https://images.unsplash.com/photo-1429080355161-3c071e2e27a6", "Sunset")
            .medium.gallery-container
                +image("https://images.unsplash.com/photo-1485199433301-8b7102e86995", "Love")