doctype html
html(lang='en')
    head
        title CSS Grid Gallery
        link(href='/build/style.css', rel='stylesheet')
    body
        h1 CSS Grid Gallery
        .container 
            .small.gallery-container 
                .gallery-item
                    .image
                        img(src="https://images.unsplash.com/photo-1561266322-ccd177d44cff" alt="image1")
                    .overlay  
                    .text Cloudy
            .large.gallery-container
                .gallery-item
                    .image
                        img(src="https://images.unsplash.com/photo-1561262280-8d0df7772ac4" alt="image2")
                    .overlay 
                    .text Sky
            .small.gallery-container
                .gallery-item
                    .image
                        img(src="https://images.unsplash.com/photo-1559867632-9a4ed11e09b7" alt="image3")
                    .overlay 
                    .text Library
            .tiny.gallery-container
                .gallery-item
                    .image
                        img(src="https://images.unsplash.com/photo-1557441327-782eea23facd", alt="image4")
                    .overlay 
                    .text Laptop
            .long.gallery-container
                .gallery-item
                    .image
                        img(src="https://images.unsplash.com/photo-1429080355161-3c071e2e27a6", alt="image5")
                    .overlay 
                    .text Sunset
            .medium.gallery-container
                .gallery-item
                    .image
                        img(src="https://images.unsplash.com/photo-1485199433301-8b7102e86995", alt="image6")
                    .overlay 
                    .text Love